body {
background: linear-gradient(to right, #ed213a, #93291e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
font-family: 'Modak', cursive;
color: black;
}

#cities {
  display: flex;
  .city {
    border: 1px solid #fff;
    padding: 10px;
    margin: 20px;
    height: 150px;
    h1{
      margin: 0;
    }
  }
}