body {
  background: linear-gradient(to right, red, orange)
}
h1 {
  text-align: center;
  font-family: Arial;
}
#one {
  margin-left: 400px;
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#two {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#three {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#four {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#five {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#six {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#seven {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#eight {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#nine {
  background-color: black;
  border: medium solid yellow;
  height: 50px;
  width: 100px;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
